<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../template'); -%>
        <title>Create User</title>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <%- include('../common/tabbar'); -%>
            <div id="page-content-wrapper">
                <%- include('../common/navbar'); -%>
                <div>
                    <form action="/create-user" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Add User
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input
                                    class="form-control"
                                    type="text"
                                    placeholder="Enter username"
                                    name="userName"
                                />
                            </div>
                            <div class="form-group">
                                <input
                                    class="form-control"
                                    type="text"
                                    placeholder="Enter email"
                                    name="email"
                                />
                            </div>
                            <div class="form-group">
                                <input
                                    class="form-control"
                                    type="password"
                                    placeholder="Enter password"
                                    name="password"
                                />
                            </div>
                            <div class="form-group">
                                <input
                                    class="form-control"
                                    type="text"
                                    placeholder="Enter Name"
                                    name="name"
                                />
                            </div>
                            <div class="form-group">
                                <input
                                    class="form-control"
                                    type="text"
                                    placeholder="Enter Age"
                                    name="age"
                                />
                            </div>
                            <div class="form-group">
                                <input
                                    class="form-control"
                                    type="text"
                                    placeholder="Enter Address"
                                    name="address"
                                />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="/"
                                ><button
                                    class="btn btn-secondary"
                                    type="button"
                                    data-dismiss="modal"
                                >
                                    Cancel
                                </button></a
                            ><button class="btn btn-primary" type="submit">
                                Save
                            </button>
                        </div>
                    </form>
                </div>

                <% if (msg) { %>
                <div
                    aria-live="polite"
                    aria-atomic="true"
                    style="position: relative; min-height: 60px"
                >
                    <div
                        class="toast"
                        style="position: absolute; top: 0; right: 0"
                        data-delay="3000"
                    >
                        <div class="toast-header">
                            <strong class="mr-auto">notification</strong>
                            <div class="toast-body"><%= msg %></div>
                        </div>
                    </div>
                </div>
                <% } %> <%- include('../common/message'); -%>
            </div>
        </div>
        <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>
        <script src="/js/template.js"></script>
        <script>
            $(".toast").toast("show");
        </script>
    </body>
</html>
